sudo: required

language: python

services:
  - docker

before_install:
  - docker build -t mapillary/mapillary_tools .

script:
  - docker run mapillary/mapillary_tools /bin/sh -c "python setup.py test"
